<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cross Over</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLink='movies' routerLinkActive="active"><a routerLink='movies' routerLinkActive="active" class="pointer" href="#">Movies</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="username" ><a class="link" >welcome, <small>{{user.username}}</small> </a> </li>
      <li *ngIf="status.isLoggedIn"><a (click)="logout()" class="pointer"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <li *ngIf="!status.isLoggedIn" routerLink='/login' routerLinkActive="active"><a class="pointer" routerLink='/login' routerLinkActive="active" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>